<%# views/bikes/index.ejs %>
<%- include ../partials/boilerplate %>

<h1>BIKES</h1>

<h3>My Google Maps Demo</h3>
<p>Dark green routes indicated dedicated bicycle routes. Light green routes indicate streets with dedicated “bike lanes.” Dashed routes indicate streets or paths otherwise recommended for bicycle usage.</p>

<a href="<%=`/bikes/${bikes.id}` %>">All Stations</a>

<% let citiBikeStation = bikes %>
<%= console.log(citiBikeStation) %>
<% for(j = 0; j < citiBikeStation.length; j++)
{ %>

  <p> <%= citiBikeStation[j].stationName %> </p>
<% } %>

<%- include ../partials/endplate %>

<div id="map"></div>
  <script>
    function initMap() {
      let position = {lat: 40.76727216, lng: -73.99392888};
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: position
        });
      //add bike routes to google map
      let bikeLayer = new google.maps.BicyclingLayer();
      bikeLayer.setMap(map);

      let script = document.createElement('script');
      script.src = 'https://feeds.citibikenyc.com/stations/stations.json';
      // document.getElementsByTagName('head')[0].appendChild(script);

      let citiBikeData = <%- JSON.stringify(bikes) %>
      for(i = 0; i < citiBikeData.length; i++){
        let marker = new google.maps.Marker({
        position: {lat: citiBikeData[i].latitude, lng: citiBikeData[i].longitude},
        map: map
    })
      }


}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFRNRdgo2Wtde4bC31f7WAE0LHgNVH_0&callback=initMap">
</script>